body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header, nav, footer {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #00bfff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
}

h1, h2 {
    color: #00bfff;
}

footer {
    font-size: 0.9em;
    color: #aaaaaa;
    margin-top: 40px;
}

#LOGO {
    position: relative;
    bottom: 195px;
}